@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteMaster.cshtml";
}

<div class="gtco-section">
	<div class="gtco-container">
        @{Umbraco.AssignedContentItem.GetPropertyValue("bodyText"); }
    </div>
</div>

