<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT siteMaster ANY>
<!ATTLIST siteMaster id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT serviceComponent ANY>
<!ATTLIST serviceComponent id ID #REQUIRED>
<!ELEMENT genericContent ANY>
<!ATTLIST genericContent id ID #REQUIRED>
]>
<root id="-1">
  <siteMaster id="1064" key="af3e826e-0d7b-4fbb-b998-5a7818611168" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-26T13:24:05" updateDate="2017-09-27T13:19:34" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1060" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1065" nodeTypeAlias="siteMaster">
    <heroImage><![CDATA[umb://media/0d29338bdf554137bf54b2eda7ece829]]></heroImage>
    <heroButton><![CDATA[{"fieldsets":[{"properties":[{"alias":"buttonText","value":"Learn More"},{"alias":"buttonLink","value":"{\r\n  \"id\": \"1074\",\r\n  \"name\": \"Contact\",\r\n  \"url\": \"/contact/\",\r\n  \"target\": \"_self\",\r\n  \"hashtarget\": \"\"\r\n}"}],"alias":"heroButton","disabled":false,"id":"785dd42a-1376-4fa8-a2db-87978cc74293","releaseDate":null,"expireDate":null,"allowedMemberGroups":""}]}]]></heroButton>
    <heroIntroduction><![CDATA[<p><span>Perfect Aim Bowling is the place to be for bowling products and reviews.</span></p>]]></heroIntroduction>
    <heroTitle><![CDATA[Perfect Aim Bowling]]></heroTitle>
    <about id="1070" key="69d6ef28-6f81-4c1a-ac6e-aa94117c312c" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2017-09-26T20:50:19" updateDate="2017-09-28T10:25:38" nodeName="About" urlName="about" path="-1,1064,1070" isDoc="" nodeType="1067" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1066" nodeTypeAlias="about">
      <heroImage><![CDATA[umb://media/0d29338bdf554137bf54b2eda7ece829]]></heroImage>
      <heroButton><![CDATA[{"fieldsets":[{"properties":[{"alias":"buttonText","value":"Shop"},{"alias":"buttonLink","value":"{\r\n  \"id\": 0,\r\n  \"name\": \"\",\r\n  \"url\": \"www.perfectaimbowling.com/shop\",\r\n  \"target\": \"_blank\",\r\n  \"hashtarget\": \"\"\r\n}"}],"alias":"heroButton","disabled":false,"id":"2633e566-591f-4ca0-9870-04965911b568","releaseDate":null,"expireDate":null,"allowedMemberGroups":""}]}]]></heroButton>
      <heroIntroduction><![CDATA[<p>Perfect Aim Bowling is awesome</p>]]></heroIntroduction>
      <heroTitle><![CDATA[Perfect Aim Strikes Again]]></heroTitle>
    </about>
    <services id="1071" key="af236dcd-23e4-4f92-b61f-82504f8436cc" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2017-09-26T20:50:31" updateDate="2017-09-26T20:51:09" nodeName="Services" urlName="services" path="-1,1064,1071" isDoc="" nodeType="1069" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1068" nodeTypeAlias="services">
      <service id="1081" key="37c689a0-1263-43ad-bc88-4456dc4edcba" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2017-09-27T09:52:59" updateDate="2017-09-28T14:19:41" nodeName="Web Design" urlName="web-design" path="-1,1064,1071,1081" isDoc="" nodeType="1080" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1094" nodeTypeAlias="service">
        <heroImage><![CDATA[umb://media/4cfcf4d4beba4eb2b63512894641ad73]]></heroImage>
        <heroButton><![CDATA[{"fieldsets":[{"properties":[{"alias":"buttonLink","value":"{\r\n  \"id\": \"1074\",\r\n  \"name\": \"Contact\",\r\n  \"url\": \"/contact/\",\r\n  \"target\": \"_self\",\r\n  \"hashtarget\": \"\"\r\n}"},{"alias":"buttonText","value":"See Our Works"}],"alias":"heroButton","disabled":false,"id":"e88da4db-4cbc-4f84-a48b-9c2afe5c4880","releaseDate":null,"expireDate":null,"allowedMemberGroups":""}]}]]></heroButton>
        <serviceIcon><![CDATA[fa-desktop]]></serviceIcon>
        <serviceButtonText><![CDATA[View our Works]]></serviceButtonText>
        <serviceIntro><![CDATA[Web design is a process of conceptualizing, planning, and building a collection of electronic files that determine the layout, colors, text styles, structure, graphics, images, and use of interactive features that deliver pages to your site visitors.]]></serviceIntro>
        <bodyText><![CDATA[<div>
<h2>What is Lorem Ipsum?</h2>
<p><strong>Lorem Ipsum</strong><span> </span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<div>
<h2>Why do we use it?</h2>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
</div>
<p> </p>
<div>
<h2>Where does it come from?</h2>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
</div>]]></bodyText>
      </service>
    </services>
    <contact id="1074" key="08f14bf7-99c7-4b1a-929a-2d58caffb93b" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2017-09-27T09:04:08" updateDate="2017-09-29T08:10:59" nodeName="Contact" urlName="contact" path="-1,1064,1074" isDoc="" nodeType="1073" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1072" nodeTypeAlias="contact">
      <heroImage><![CDATA[umb://media/4cfcf4d4beba4eb2b63512894641ad73]]></heroImage>
      <heroButton><![CDATA[{"fieldsets":[{"properties":[],"alias":"heroButton","disabled":false,"id":"a22d3367-81f9-4a58-910e-12b289b3a024","releaseDate":null,"expireDate":null,"allowedMemberGroups":null}]}]]></heroButton>
      <heroTitle><![CDATA[Get in Touch with Us]]></heroTitle>
    </contact>
  </siteMaster>
</root>