<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT siteMaster ANY>
<!ATTLIST siteMaster id ID #REQUIRED>
]>
<root id="-1">
  <siteMaster id="1064" key="af3e826e-0d7b-4fbb-b998-5a7818611168" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-26T13:24:05" updateDate="2017-09-26T13:49:18" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1060" creatorName="Kyle Eck" writerName="Kyle Eck" writerID="0" template="1065" nodeTypeAlias="siteMaster" />
</root>